@import "ui-variables";

.chat-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2%;
  background: @base-background-color;
}

#chat-display {
  flex-grow: 1;
  font-family: var(--editor-font-family);
  font-size:   var(--editor-font-size);
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid @base-border-color;
  overflow-y: auto;
}

#chat-input {
  min-height: 60px;
  resize: vertical;
  margin: 0;
  color: var(--standard-text-color);
  border-color: @input-border-color;
  background-color: var(--standard-app-background-color);
  border-style: solid;
  font-size: @input-font-size;
}

#send-button {
  margin-top: 5px;
}
